
body {
	background-color: $primary;
}

.splash-code{
	background: url("/assets/images/splash/close-up-code-coding-1089440.jpg") no-repeat;
	background-size: 3000px;
}
.splash-people{
	background: url("/assets/images/splash/code-coding-computer-879109.jpg") no-repeat;
	background-size: 2500px;
	background-position-y: -300px;
}
.jumbotron-people{
	background-color: $lightest;
}

.table {
  
	th {
	  font-weight: normal;
	}
  }